.jumbotron {
    
    text-align: center;
    color: aliceblue;
   
}

.holder {
    float: left;
}

div,form, input {
    margin: 5px;
    text-align: center;
    
}
button{
   font-size:large ;
    height: 40px;
    background-color:lightpink;
    margin: 5px;
    text-align: center;

}
img,  #topicImage {
    display:inline-block;
    border:3px solid white;
	
}
.gifArea, .gif{
    display:inline-block;

}
body {
    background-image: url("../images/golden-clouds.jpg");
    background-size: 100%;
    background-position:center;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
label {
    color: white;
}
